*{
    scroll-behavior: smooth;
}

body{
    margin:0;
   
}

.header{
    background-color: #bc0404;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    height: 65px;
    max-width: 100%;
    flex-flow: row wrap;
    
}

.header__logotipo{
    padding-left: 10%;
    padding-right: 30px; 
    width: auto;
    height: 60%;
    margin: 10px;
}

.header__menu{
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    color: #fff;
    font-size: 100%;
    
    text-decoration: none;
    padding-top: 23px;
    display: inline-block;
    right: 20%;
}

.hypertext{
    
    padding-left: 20px;
    padding-right: 20px; 
    text-decoration: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    
}
.hypertext:hover{
    opacity: 0.8;
}

.portada__text--2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    bottom: 20%;
    padding-left: 9%; 
    font-size: 3vw;
}
.portada__text{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    bottom: 20%;
    font-size:6vw;
    padding-left: 5%; 

}

.portada__img{
    position: relative;
    top: -20px;
    width: 100%;   
   z-index: -1;
}

.transicion{
    position: relative; 

}

.transicion__img{
    position: relative;
    width: 100%;  
}

.transicion__img2{
    position: relative;
    width: 60%;
    left: 20vw;
}

.intro{
    position: relative;
    left: 20vw;
    width: 60%;
    color: gray;
    margin-bottom: 50px;
}

.transicion__text{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.transicion__text--2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.feature{
    position: relative;
}

.galery{
    position: relative;
    width: 100%;
}

.feature__car{
    position: relative;
    width: 100%;
}

.galery__port{
    position: relative;
    width: 100%;
}

.content{
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.content ul{
    padding-top: 14%;
}

.feature__cont{
    width: 40%;
    height: auto;
}


.title{
    font-family: 'Montserrat', sans-serif;
    top:0vw;
    color: rgb(255, 255, 255);
    position: absolute;
    padding-left: 2%;
    font-size: 5vw;
    width: 100%;
    font-weight: 1000;
    text-align: left;
}
.content_2{
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.feature__cont_2{
    width: 40%;
    height: auto;
}

.mosaico{
    display: inline-flex;
    flex-flow: wrap;
    width: 100%;
}

.galery__grupo{
   position: relative; 
}

.mosaico img{
    width: 33.333%;
}

.galery{
    background-color: rgb(37, 37, 37);
}

.suscription{
    position: relative;
    width: 100%;
    background-color: #38383c;
    
}

.suscription__port{
    position: relative;
    width: 100%;
}

.suscription__group{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    margin-bottom: 10%;
    margin-top: 5%;
}

.suscription__invite{
    width: 60%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.suscription__invite >img{
    width: 80%;
    height: auto;
}

.suscription__form{
    margin-top: 5%;
    display: inline-flex;
    color: white;
    flex-direction: column;
}

.suscription__form input{
    width: 30vw;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    padding: 20px;
    
}

.suscription__form button{
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    height: 30px;
    border-radius: 1rem;
    color: #fff;
    background-color: #bc0404;
    border: 0;
    cursor: pointer;
}
.details{
    background-color: #38383c;
    position: relative;
}
.details__port{
    position: relative;
    width: 100%;
    height: 15vw;
}

.interact{
    position: relative;
}

.interact__port{
    position: relative;
    width: 100%;
}

.details__content{
    display: flex;
    flex-flow: column;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.details__table {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%; 
    
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    border-color: grey;
    font-family: 'Montserrat', sans-serif;
}


.details__table th{
    padding: .2em .8em;
    background: #bc0404;
    text-align: center;
}

.solo_th{
    margin-top: 50%px;
}

.table_titles{
    padding: .2em .8em;
    background: #bc0404;
    text-align: center;
}

.details__content{
    display: none;
}

.details__content2{
    display: flex;
    flex-flow: column;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


.details__table td{
    padding: .2em .8em;
    border: 0;
    background: white;
    color: #38383c;
    text-align: center;
    font-size: 18px;
}

.interact {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #bc0404;
    text-align: center;
    padding-bottom: 5%;
}

.interact p{
    margin-top: 5%;
    margin-block-end: 0;
    font-size: 28px;
}

.interact__buttons img{
   padding: 5%;
   cursor: pointer;

}
.interact__buttons img:hover{
opacity: 0.6;
}

.interact__btn:hover{
    opacity: 0.6;
}



.adds{
    display: flex;
    widows: 50px;
}
.adds__images img{
    width: 20%;
}

footer{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #242424;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 8%;
}

.footer__img{
    display: flex;
    justify-content: center;
    
}

.footer__img img{
    padding-left: 1%;
    padding-right: 1%;
    width: 7vw;
}

.adds{


height: auto;
width: 100%;
align-content: center;
}

.adds__line{
    display: flex;
    width: 100%;
    font-family:'Montserrat', sans-serif;
    text-align: center; 
    
}

.adds__block{
    
    justify-content: center;
    height: auto;
    
    
}

.adds img{
    padding: 4%;
    width: 100%;
    height: auto;
}
.adds{
    margin-top: 2%;
 }
 .adds__blocks{
     margin-left: auto;
     margin-right: auto;
     width: 33.3%
 }

 .adds__line{
     
     width: 100%;
     font-size: 12px;
     margin: 0;
 }

 .adds img{
     width: 100px;
     height: 75px;
     margin: 0;
 }

@media (max-width: 750px){
    .header{
    height: 130px;
    }

    .header__menu{
        margin-left: auto;
        margin-right: auto;
    }

    .header__logotipo{
        margin-bottom: 0;
        height: 40%;
        margin-right: auto;
        margin-left: auto;
    }

    .portada__img{
       position: relative;
       top: 20;
    }

    .content{
        display: block;
        align-content: center;
        justify-content: space-around;
        
        margin-right: auto;
        margin-left: auto;
    }

    .content_2{
        display: block;
        justify-content: center;
        align-content: center;
       
    }

    .content ul{
        padding-top:0;
        margin-left: -5vw;
        width: 60%;   
        margin-left: auto;
        margin-right: auto;
    }

    .content_2 ul{
        padding-top:0;
        margin-left: -5vw;
        width: 60%;   
        margin-left: auto;
        margin-right: auto;
    }

    .feature__cont{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .feature__cont_2{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .transicion{
        bottom:80px;
    }
    .intro{
        bottom: 80px;
        margin-bottom: -70px;
    }
    .adds{
        margin-top: 2%;
     }
     .adds__blocks{
         margin-left: auto;
         margin-right: auto;
         width: 33.3%
     }
 
     .adds__line{
         
         width: 100%;
         font-size: 12px;
         margin: 0;
     }
 
     .adds img{
         width: 100px;
         height: 75px;
         margin: 0;
     }

     .portada__text--2{
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: absolute;
        bottom: 30%;
        padding-left: 9%; 
        font-size: 3vw;
    }
    .portada__text{
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: absolute;
        bottom: 30%;
        font-size:6vw;
        padding-left: 5%; 
    
    }


}

@media (max-width: 411px){
    .header__logotipo{
        margin-top: 20px;;
        margin-right: auto;
        margin-left: auto;
    }

    .header__menu{
        font-size: 10px;
        padding-left:0;
        margin-left:auto;
        margin-right: auto;
    }

    .feature__cont{
        width: 60%;
        height: auto;
        margin-left: 19vw;
        margin-bottom: 20px;
    }

    .feature__cont_2{
        width: 60%;
        height: auto;
        margin-left: 19vw;
        margin-bottom: 20px;
    }
    .content{
        width: 100%;
    }

    

    .mosaico img{
        width: 50%;
    }

    .details__content h4{
        font-size: 80%;
    }

    .details__content2{
        display: flex;
    flex-flow: column;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    }

    .interact p{
        font-size: 18px;
        width: 90%;
        
        margin-left:auto;
        margin-right: auto; 
    }

    .suscription__group{
        display: inline-block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .suscription__invite{
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }

    .suscription__form{
        margin-right: auto;
        margin-left: 10vw;
        width: 80%;
        margin-bottom: 20%;
    }

    .suscription__form input{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .adds{
       margin-top: 2%;
    }
    .adds__blocks{
        margin-left: auto;
        margin-right: auto;
        width: 33.3%
    }

    .adds__line{
        
        width: 100%;
        font-size: 12px;
        margin: 0;
    }

    .adds img{
        width: 100px;
        height: 75px;
        margin: 0;
    }
    
    .footer__img{
        margin-top: auto;
        margin-bottom: auto;
    }

    .portada__text--2{
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: absolute;
        bottom: 60%;
        padding-left: 9%; 
        font-size: 3vw;
    }
    .portada__text{
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: absolute;
        bottom: 60%;
        font-size:6vw;
        padding-left: 5%; 
    
    }

    

}



