<!DOCTYPE html> <link rel="stylesheet" href="/styles/styleStore.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nord Piano 4</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    
</head>

<body>
     
    <header class="header">

        <div class="header__logotipo">    
            <img class="logotipo__logo" src="/data/logo.png" alt="logo">
        </div>

        <div class="header__menu">
            <a class="hypertext" href="#Home">Home</a>
            <a class="hypertext" href="#Gallery">Gallery</a>
            <a class="hypertext" href="#Description">Descriptions</a>
            <a class="hypertext" href="/store">Store</a> 
            <a href="/carrito" class="header__cart">
            <img src="/data/whiteKart.png" alt="WhiteKart">
            <p class="shopping_counter"></p> 
            </a>  
        </div>
       
    </header>
{{{body}}}
  {{!-- <footer>
            <p>Sigue Nuestras redes sociales </p>
            <div class="footer__img">
                <img src="/data/instagram.png" alt="boton" >
                <img src="/data/facebook.png" alt="boton">
                <img src="/data/twiter.png" alt="boton">
            
            </div>
        </footer> --}}

    <script src="/scripts/updateCart.js"></script>
    </body>

</html>

