<section class="options">
    <h2 class="title">MI CARRITO</h2>
    <P class="subtitle__2"> Para realizar la compra por favor llene con sus datos</P>
    
    <form class="options__form">
       
       
        
      </form>

</section>  

<section class="products">
{{#each products}}
<div class="items">
        <div class="item">
            <Button class="itemBtn"><a href="/store/{{this._id}}"><img class="item_img" src="data{{image}}" alt="item_img"></Button></a></Button>
            <div class="name">{{name}}</div>
            <div class="price">$ {{price}}</div>
        </div>
</div>
{{/each}}
</section>






<script src="/scripts/store.js"> </script>